

@font-face {
    font-family: kalpurush;
    src: url(../fonts/kalpurush.ttf);
}
body{
    font-family: kalpurush;
    font-size: 16px;
}

/* =============================bootstrap customize====================== */
.text-primary{
    color:#3B154E !important;
}
.text-secondary{
    color:#3D087B !important;
}
.border-primary{
    border: 1px solid #3B154E !important;
}
.border-secondary{
    border: 1px solid #3D087B !important;
}

.btn-primary {
    color: #fff;
    background-color: #912790;;
    border-color: #912790;
}
.btn-primary:hover, .btn-primary:active {
    color: #fff;
    background-color: #7f3183;
    border-color: #7f3183;
}
.form-check-input:checked {
    background-color: #912790;
    border-color: #912790;
}
.bg-primary{
    background-color: #912790 !important;
}
/* =============================bootstrap customize====================== */
/*============================ header ====================== */
.top-menu li:after{
    content: "|";
    color:#333;
}
.top-menu li:last-child:after{
    content: "";
}
.top-menu li a{
    color:#333;
}
.top-menu .nav-link{
    display: inline;
}
.top-menu .nav-link:hover{
    color:#922c89;
    
}
/*============================ hero  ====================== */

.hero{
    height:500px;
    background-image: linear-gradient(to right, #8d2993 , #8e3fea);
}
.main-menu-primary{
    background-color: #ffffff55;
}

.main-menu-primary ul li:after{
    content: "|";
    color:#efefef;
}

.main-menu-primary ul li a{
    color:#efefef;
    padding-right: .8rem;
padding-left: .8rem;
}
.main-menu-primary li:last-child:after{
    content: "";
}
.main-menu-primary .nav-link{
    display: inline;
    
}
.main-menu-primary .nav-link:hover{
    color:#922c89;
    
}
/* main-menu-secondary */
.main-menu-secondary{
    background-color: #922c89;
}

.main-menu-secondary ul li:after{
    content: "|";
    color:#fff;
}

.main-menu-secondary ul li a{
    color:#fff;
    padding-right: .8rem;
padding-left: .8rem;
}
.main-menu-secondary li:last-child:after{
    content: "";
}
.main-menu-secondary .nav-link{
    display: inline;
    
}
.main-menu-secondary .nav-link:hover{
    color:#ddd;
    
}
/* ============= */
.hero-overlay {
    background-repeat: no-repeat;
background-position: center center;
background-size: cover;
width: 100%;
height: 500px;
}
.reg-overlay {
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
width: 100%;
min-height:500px;
}
/* ========================slider================= */
.carousel-item{
    height: 400px;
}
.carousel-item p{
    font-size: 18px;
}
.carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}
/* ======================service======================= */
.title{
    line-height: 0 !important; 
}
/* ========================statistics================== */
.statistics{
    background-color: #BB83CF1A;
}
/* ==================services==================== */
.title{
    line-height:0 !important; 
    margin: 5px 0;
}
/* =========================regi form list timeline============ */
.timeline {
    margin: 0;
    padding: 0;
    list-style: none;
}

.timeline li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    position: relative;
}
.timeline li::before{ 
    content: '';
    line-height: 28px;
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #828282;  
    background: #F2F2F2;
    position: absolute;
    top: 43px;
    z-index: 2;
}
.timeline li:after{
    content: '';
    width: 100%;
    height: 4px;
    background: #828282;
    display: block;
    position: absolute;
    top: 55px;
    left: 50%;
    z-index: 0;
}
.timeline li:last-child:after{
    height: 0px;
}

.timeline li.active::before{
    font-family: FontAwesome;
    border: 2px solid #912790;  
    background: #fff;
    font-size: 20px;
}
.timeline li.finish::before{
    font-family: FontAwesome;
    content: '\f00c';
    color:green;
    border: 2px solid #912790;  
    background: #fff;
    font-size: 20px;
}
.timeline li.finish:after{
    content: '';
    width: 100%;
    height: 4px;
    background: #912790;
    display: block;
    position: absolute;
    top: 55px;
    left: 50%;
    z-index: 0;
}

.timeline li.finish:last-child:after{
    height: 0px;
}


.tab {
    display: none;
}

/* ===============form========== */
label{
    font-size: 16px;
}
input[type="file"]{
    
}
/* ==================stats============ */
.stats{
   
    width:60px;
    height:60px;
    line-height:60px;
    border-radius: 50%;
    text-align: center;
    
}
/* ===========footer========== */
footer{
    font-size: 12px;
}

footer p{
    color:£666;
}