

@font-face {
    font-family: kalpurush;
    src: url(../fonts/kalpurush.ttf);
}
body{
    font-family: kalpurush;
    font-size: 16px;
}

/* =============================bootstrap customize====================== */
.text-primary{
    color:#3B154E !important;
}
.text-secondary{
    color:#3D087B !important;
}
.border-primary{
    border: 1px solid #3B154E !important;
}
.border-secondary{
    border: 1px solid #3D087B !important;
}

.btn-primary {
    color: #fff;
    background-color: #912790;;
    border-color: #912790;
}

.btn-warning {
    color: #fff;
    background-color: #f2994a;
    border-color: #f2994a;
}

.btn-warning:hover,.btn-warning:active{
    color: #fff;
    background-color: #eb8124;
    border-color: #eb8124;
}

.btn-danger {
    color: #fff;
    background-color: #f03d3d;
    border-color: #f03d3d
}

.btn-primary:hover, .btn-primary:active {
    color: #fff;
    background-color: #7f3183;
    border-color: #7f3183;
}
.form-check-input:checked {
    background-color: #912790;
    border-color: #912790;
}
.bg-primary{
    background-color: #912790 !important;
}
/* =============================bootstrap customize====================== */
/*============================ header ====================== */
.top-menu li:after{
    content: "|";
    color:#333;
}
.top-menu li:last-child:after{
    content: "";
}
.top-menu li a{
    color:#333;
}
.top-menu .nav-link{
    display: inline;
}
.top-menu .nav-link:hover{
    color:#922c89;
    
}
/*============================ Navbar light and Hero  ====================== */

.hero{
    min-height:514px;
    background-image: linear-gradient(to right, #8d2993 , #8e3fea);
}
.navbar-light{
    background-color: #ffffff55;
}

.navbar-light .navbar-nav .nav-item:after{
    content: "|";
    color:#efefef;
}

.navbar-light .navbar-nav .nav-item .nav-link{
    color:#efefef;
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-light .navbar-nav .nav-item:last-child:after{
    content: "";
}
.navbar-light .navbar-nav .nav-item .nav-link{
    display: inline;
    
}
.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link:focus{
    color:#922c89;
    
}

.navbar-light .navbar-toggler,.navbar-toggler {
    color:#922c89;
    border-color:#922c89;
}
.form-switch .form-check-input{
    background-position: right center;
}
.form-switch .form-check-input:checked{
    background-position: left center;
}
/* =========================Navbar dark=============== */

.navbar-dark{
    background-color: #922c89;
}


.navbar-dark .navbar-nav .nav-item:after{
    content: "|";
    color:#efefef;
}

.navbar-dark .navbar-nav .nav-item .nav-link{
    color:#fff;
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-dark .navbar-nav .nav-item:last-child:after{
    content: "";
}
.navbar-dark .navbar-nav .nav-item .nav-link{
    display: inline;
    
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
    color:#ccc;
    
}

.navbar-dark .navbar-toggler,.navbar-toggler {
    color:#fff;
    border-color:#fff;
}
/* ============= hero overlay=============*/
.hero-overlay {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height:514px;
}
.reg-overlay {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height:500px;
}
/* ========================hero slider================= */
.hero .carousel-item{
    min-height: 400px;
}
.hero .carousel-item p{
    font-size: 18px;
}
.hero .carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}
/* ======================== partner slider================= */
.partner .carousel-item{
    height:200px;
}

.partner .carousel-item p{
    font-size: 18px;
}
.partner .carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
    background-color: #7f3183;
}
/* ======================service======================= */
.title{
    line-height: 0 !important; 
}
/* ========================statistics================== */
.statistics{
    background-color: #BB83CF1A;
}
/* ==================services==================== */
.title{
    line-height:0 !important; 
    margin: 5px 0;
}
/* =================owl carousel=========== */
.owl-theme .owl-dots .owl-dot.active span{
    background: #7f3183;
}
.owl-item{
    box-sizing: border-box;
}
/* =========================regi form list timeline============ */
.timeline {
    margin: 0;
    padding: 0;
    list-style: none;
}

.timeline li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    position: relative;
}
.timeline li::before{ 
    content: '';
    line-height: 28px;
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #828282;  
    background: #F2F2F2;
    position: absolute;
    top: 43px;
    z-index: 2;
}
.timeline li:after{
    content: '';
    width: 100%;
    height: 4px;
    background: #828282;
    display: block;
    position: absolute;
    top: 55px;
    left: 50%;
    z-index: 0;
}
.timeline li:last-child:after{
    height: 0px;
}

.timeline li.active::before{
    font-family: FontAwesome;
    border: 2px solid #912790;  
    background: #fff;
    font-size: 20px;
}
.timeline li.finish::before{
    font-family: FontAwesome;
    content: '\f00c';
    color:green;
    border: 2px solid #912790;  
    background: #fff;
    font-size: 20px;
}
.timeline li.finish:after{
    content: '';
    width: 100%;
    height: 4px;
    background: #912790;
    display: block;
    position: absolute;
    top: 55px;
    left: 50%;
    z-index: 0;
}

.timeline li.finish:last-child:after{
    height: 0px;
}


.tab {
    display: none;
}

/* ===============form========== */
label{
    font-size: 16px;
}

/* =================icon menu========= */
.icon-menu-overlay{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* ==================stats============ */
.stats{
   
    width:60px;
    height:60px;
    line-height:60px;
    border-radius: 50%;
    text-align: center;
    
}
/* =================accessibility ===========*/
.accessibility{
    position:fixed;
    right:0;
    top: 50%;
    bottom: 50%;
    margin-top:-5%;
    z-index: 999;
}
.accessibility ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.accessibility ul li{
    box-sizing: border-box;
    width: 34px;
    height: 40px;
    padding: 5px;
    margin: 3px auto;
}
/* =================live support============= */
.live-support{
    position:fixed;
    right:0;
    bottom: 20px;
    z-index: 999;
}
.message{
    background-color: #fff;
    border-radius: 10px 10px 0px 10px;
    padding: 5px 10px;
    box-shadow:0px 0px 5px #999;
}
.agent{
    box-shadow:0px 0px 5px #333;
    border-radius: 50%;
    background: #922c89;
    padding:2px;
}
/* ===========footer========== */
footer{
    font-size: 12px;
}

footer p{
    color:£666;
}

@media (max-width:991px){
    .navbar-light .navbar-nav .nav-item:after,.navbar-dark .navbar-nav .nav-item:after{
        content: "";
        color:transparent;
    }

    .navbar-light .navbar-nav, .navbar-dark .navbar-nav{
        margin-top: 10px;
    }
    .navbar-light .navbar-nav .nav-item, .navbar-dark .navbar-nav .nav-item{
        font-size: 18px;
        padding: 6px;
        display: inline-block;
    }

    .hero{
        min-height:514px;
    }
    .hero .carousel-item{
        min-height:514px;
    }
}

@media (max-width:768px){
    .top-menu{
        display: none;
    }
    .hero{
        min-height:514px;
    }
    .hero .carousel-item{
        min-height:400px;
    }
    .timeline li{
        font-size:12px;
    }
    .timeline li::before{
        top: 95px;
    }
    .timeline li::after{
        top: 107px;
    }
    .timeline li.active::before{
        top: 95px;
    }
    .timeline li.finish::before{
        top: 95px;
    }

    .timeline li.active::after{
        top: 107px;
    }
    .timeline li.finish::after{
        top: 107px;
    }
    .tab{
        margin-top: 50px;
    }

}
